@import '../../constants/colours.scss';

.testimonies {
    row-gap: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: #F8F8F8;
    padding: 0% 4%;
}

.testimonies-header {
    font-size: 2.25rem;
    margin-top: 2rem;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonies-container {
    display: flex;
    row-gap: 1.5rem;
    padding: 6% 2%;
    column-gap: 2.5rem;
}

.testimonies-header-container {
    display: flex;
}

.eRmJbc, .khvUfi {
    background-color: $primary-color !important;
    color: #FFFFFF !important;
    width: 2.375rem !important;
    height: 2.375rem !important;
    min-width: 2.375rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
}

.jJKuoL {
    background-color: $primary-color !important;
    box-shadow: none !important;
}

.gQIqMI {
    background-color: #C4C4C4 !important;
    box-shadow: none !important;    
}