@import '../../constants/colours.scss';

.modal-shaded-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: $card-background-color;
    position: fixed;
    padding: 8% 12%;
}

.modal-title {
    font-weight: 600;
    font-size: 3rem;
    color: $primary-color;
}

.modal-message {
    font-weight: 600;
    font-size: 12px;
    color: $body-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.75rem;
}

.modal-button {
    width: 7rem;
    height: 2.25rem;
    border: 0.0625rem solid $primary-color;
    margin-top: 4.375rem;
    cursor: pointer;
    color: $primary-color;
    font-weight: 500;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}