@import '../../constants/colours.scss';

.contact-container {
    display: flex;
    flex-direction: column;
    padding: 2% 0%;
    background-image: url('../../assets/get-in-touch-image.svg');
    align-items: center;
    justify-content: center;
}

.contact-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-field-container {
    display: flex;
    flex-direction: column;
}

.name-fields-container {
    display: flex;
    row-gap: 1.875rem;
}

.contact-title {
    font-weight: 900;
    font-size: 2.25rem;
    color: #000000;
    font-style: italic;
}

.error {
    box-sizing: border-box;
    width: 100%;
    height: 3.75rem;
    border: 0.0625rem solid #333333;
    box-sizing: border-box;
    border-radius: 0.375rem;
    margin: 0.5rem;
    border-color: red;
    font-size: 0.8rem;
}

.input {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-style: italic;
    border: none;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: -0.0625rem 0.8125rem 1.25rem #F0F2F4;
}

.input-text-area {
    width: 100%;
    height: 10.0625rem;
    font-size: 1rem;
    border: none;
    margin: 0.5rem;
    padding: 1rem;
    font-style: italic;
    box-shadow: -0.0625rem 0.8125rem 1.25rem #F0F2F4;
}

.contact-button {
    width: 7.8125rem;
    height: 3rem;
    background-color: $primary-color;
    border: 0rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: #FFFFFF;
    position: relative;
    margin-left: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}