@import '../../constants/colours.scss';

.home {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/home-background.svg');
    background-size: 75% 100%;
    box-shadow: -0.0625rem 0.8125rem 1.25rem #F0F2F4;
    background-repeat: no-repeat;
    background-position: right;
    height: 25.75rem;
}

.pre-header {
    font-weight: 800;
    font-size: 8.125rem;
    color: $primary-color;
    text-transform: uppercase;
}

.header-end {
    font-style: italic;
    font-weight: 300;
    font-size: 8.125rem;
}

.sub-title {
    font-style: italic;
    font-weight: 300;
    font-size: 2.75rem;    
    text-transform: uppercase;
}

